body{background-image: url(adorable-brown-white-basenji-dog-smiling-giving-high-five-isolated-white.jpg) ;height:600px;}
h1{font-family: Arial, Helvetica, sans-serif;
color:#904d20;
display: flex;
justify-content: center;
margin: 20px 20px 20px;}
.cart{
width:50%;
height: 50%;
position: absolute;
left: 500px;}
.Element,.product{background-color: #904d2067;
display: flex;
justify-content: space-evenly;
align-items: center;
height: 50%;
border-radius: 10px;}
button{background-color:#b57945;
height: 20px;
width: 20px;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
border: none;}
span{font-family: Arial, Helvetica, sans-serif;}
#Total{background-color: #904d2067;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    font-weight: bolder;
}

